@model UsersViewModel
<div>
    <label class="col-form-label" asp-for="Id">Id</label>
    <input class="form-control" asp-for="Id" />

</div>
<div>
    <label class="col-form-label" asp-for="FName">FName</label>
    <input class="form-control" asp-for="FName" />

</div>
<div>
    <label class="col-form-label" asp-for="LName">LName</label>
    <input class="form-control" asp-for="LName" />

</div>
<div>
    <label class="col-form-label" asp-for="Email">Email</label>
    <input class="form-control" asp-for="Email" />

</div>
<div>
    <label class="col-form-label" asp-for="PhoneNumber">PhoneNumber</label>
    <input class="form-control" asp-for="PhoneNumber" />

</div> 