@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}
<div asp-validation-summary="All"></div>
<div class="mail-agileinfo">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="agileinfo-top">
        <form asp-action="SendEmail">
            <input class="text email" asp-for="Email" placeholder="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <input  type="submit" value="Reset Password"/>

        </form>

    </div>

</div>
@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial" />

}

