@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout1.cshtml";
}

<div asp-validation-summary="All"></div>
<div class="mail-agileinfo">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="agileinfo-top">
        <form asp-action="ResetPassword">
            <input class="text" asp-for="NewPassword" placeholder="Password" />
            <span asp-validation-for="NewPassword"></span>
            <br />
            <input type="submit" value="Reset Password" />

            <input class="text " asp-for="ConfirmPassword" placeholder="Confirm Password" />
            <span asp-validation-for="ConfirmPassword"></span>
            <br />
            <input type="submit" value="Reset" />

        </form>

    </div>

</div>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />

}

